<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Hope UI | Responsive Bootstrap 5 Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../assets/css/core/libs.min.css" />

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../assets/css/hope-ui.min.css?v=2.0.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="../../assets/css/custom.min.css?v=2.0.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="../../assets/css/dark.min.css" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../assets/css/customizer.min.css" />

    <!-- RTL Css -->
    <link rel="stylesheet" href="../../assets/css/rtl.min.css" />
  </head>
  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
        <div class="loader-body"></div>
      </div>
    </div>
    <!-- loader END -->

    <%- include('../../partials/aside') %>

    <main class="main-content">
      <!-- Nav Component -->
      <%- include('../../partials/nav') %>
      <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
          <form id="formClient" enctype="multipart/form-data">
            <div class="row">
              <div class="col-xl-3 col-lg-4">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                      <h4 class="card-title">Add New Client</h4>
                    </div>
                  </div>
                  <!-- Success Alert -->
                  <div
                    class="bd-example"
                    style="display: none"
                    id="success-notification"
                  >
                    <div
                      class="alert alert-left alert-success alert-dismissible fade show mb-3"
                      role="alert"
                    >
                      <span> This is a success alert—check it out!</span>
                      <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                  <!-- Success Alert -->
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Client Sector:</label>
                      <select
                        name="sectorCode"
                        id="sectorCode"
                        class="selectpicker form-control"
                        data-style="py-0"
                      >
                        <option disabled selected value="">Select</option>
                        <% sectors.forEach((data)=>{ %>
                        <option value="<%=  data.sectorCode %>">
                          <%= data.sectorName %>
                        </option>
                        <%} )%>
                      </select>
                      <div class="invalid-feedback" id="sectorCode_err"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                      <h4 class="card-title">New Client Information</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="new-user-info">
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label class="form-label" for="fname"
                            >Client Name:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="clientName"
                            placeholder="Client Name"
                            name="clientName"
                          />
                          <div
                            class="invalid-feedback"
                            id="clientName_err"
                          ></div>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="form-label" for="add1"
                            >Street Address:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            placeholder="Street Address"
                            name="address"
                          />
                          <div class="invalid-feedback" id="address_err"></div>
                        </div>
                        <div class="form-group col-md-4">
                          <label class="form-label" for="state">State:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="state"
                            placeholder="State"
                            name="state"
                          />
                          <div class="invalid-feedback" id="state_err"></div>
                        </div>
                        <div class="form-group col-md-4">
                          <label class="form-label" for="city">City:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="city"
                            placeholder="City"
                            name="city"
                          />
                          <div class="invalid-feedback" id="city_err"></div>
                        </div>

                        <div class="form-group col-sm-12">
                          <label class="form-label">Country:</label>
                          <select
                            name="country"
                            class="selectpicker form-control"
                            data-style="py-0"
                            id="country"
                          >
                            <option value="">Select Country</option>
                            <option>Caneda</option>
                            <option>Noida</option>
                            <option>USA</option>
                            <option value="India">India</option>
                            <option>Africa</option>
                          </select>
                          <div class="invalid-feedback" id="country_err"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-label" for="phone"
                            >Mobile Number:</label
                          >
                          <div class="input-group">
                            <span
                              class="input-group-text"
                              id="inputGroupPrepend"
                              >+91</span
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="phone"
                              placeholder="Mobile Number"
                              name="phone"
                            />
                            <div class="invalid-feedback" id="phone_err"></div>
                          </div>
                        </div>

                        <div class="form-group col-md-6">
                          <label class="form-label" for="email">Email:</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="Email"
                            name="email"
                          />
                          <div class="invalid-feedback" id="email_err"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-label" for="pno">Pin Code:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="postal"
                            placeholder="Pin Code"
                            name="postal"
                          />
                          <div class="invalid-feedback" id="postal_err"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <label class="form-label" for="uname"
                            >Client ID:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="employeeId"
                            placeholder="Client ID"
                            name="clientId"
                          />
                          <div class="invalid-feedback" id="clientId_err"></div>
                        </div>
                      </div>
                      <hr />
                      <div style="display: flex; align-items: center">
                        <h5 class="mb-3">Departments</h5>
                        <button
                          style="margin-bottom: 1rem !important"
                          class="btn btn-sm btn-icon text-primary flex-end"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdropLive"
                          data-bs-original-title="Add"
                          id="addDept"
                          type="button"
                        >
                          <span class="btn-inner">
                            <svg
                              style="width: 50px"
                              class="icon-32"
                              width="32"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                opacity="0.4"
                                d="M16.6667 2H7.33333C3.92889 2 2 3.92889 2 7.33333V16.6667C2 20.0622 3.92 22 7.33333 22H16.6667C20.0711 22 22 20.0622 22 16.6667V7.33333C22 3.92889 20.0711 2 16.6667 2Z"
                                fill="currentColor"
                              ></path>
                              <path
                                d="M15.3205 12.7083H12.7495V15.257C12.7495 15.6673 12.4139 16 12 16C11.5861 16 11.2505 15.6673 11.2505 15.257V12.7083H8.67955C8.29342 12.6687 8 12.3461 8 11.9613C8 11.5765 8.29342 11.2539 8.67955 11.2143H11.2424V8.67365C11.2824 8.29088 11.6078 8 11.996 8C12.3842 8 12.7095 8.29088 12.7495 8.67365V11.2143H15.3205C15.7066 11.2539 16 11.5765 16 11.9613C16 12.3461 15.7066 12.6687 15.3205 12.7083Z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </span>
                        </button>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <div class="card-body">
                            <ul class="list-inline m-0 p-0" id="deptList"></ul>
                            <div
                              class="invalid-feedback"
                              id="departments[]_err"
                            ></div>
                          </div>
                        </div>
                      </div>

                      <button
                        type="submit"
                        class="btn btn-primary"
                        style="float: right"
                      >
                        Add New Client
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div
            class="modal fade"
            id="staticBackdropLive"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLiveLabel"
            aria-modal="true"
            role="dialog"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLiveLabel">
                    Add Department
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    id="departmentName"
                    aria-describedby="email"
                    placeholder="Department name"
                  />
                  <div class="invalid-feedback" id="departmentName_err"></div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-gray"
                    data-bs-dismiss="modal"
                    id="closeDept"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary" id="addNewDept">
                    Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Section Start -->
      <%- include('../../partials/footer') %>
      <!-- Footer Section End -->
    </main>
    <%- include('../../partials/offcanvas') %>

    <!-- Library Bundle Script -->
    <script src="../../assets/js/core/libs.min.js"></script>

    <script src="../assets/js/sidenavactive.js" defer></script>

    <!-- External Library Bundle Script -->
    <script src="../../assets/js/core/external.min.js"></script>

    <!-- Widgetchart Script -->
    <script src="../../assets/js/charts/widgetcharts.js"></script>

    <!-- mapchart Script -->
    <script src="../../assets/js/charts/vectore-chart.js"></script>
    <script src="../../assets/js/charts/dashboard.js"></script>

    <!-- fslightbox Script -->
    <script src="../../assets/js/plugins/fslightbox.js"></script>

    <!-- Settings Script -->
    <script src="../../assets/js/plugins/setting.js"></script>

    <!-- Slider-tab Script -->
    <script src="../../assets/js/plugins/slider-tabs.js"></script>

    <!-- Form Wizard Script -->
    <script src="../../assets/js/plugins/form-wizard.js"></script>
    <script src="../assets/js/client/add-client.js" defer></script>

    <!-- AOS Animation Plugin-->

    <!-- App Script -->
    <script src="../../assets/js/hope-ui.js" defer></script>
  </body>
</html>
