<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Hope UI | Responsive Bootstrap 5 Admin Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="../../assets/css/core/libs.min.css" />

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="../../assets/css/hope-ui.min.css?v=2.0.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="../../assets/css/custom.min.css?v=2.0.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="../../assets/css/dark.min.css" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="../../assets/css/customizer.min.css" />

    <!-- RTL Css -->
    <link rel="stylesheet" href="../../assets/css/rtl.min.css" />
  </head>
  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
        <div class="loader-body"></div>
      </div>
    </div>
    <!-- loader END -->
    <%- include('../../partials/aside') %>
    <main class="main-content">
      <%- include('../../partials/nav') %>
      <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div
                  class="d-flex flex-wrap align-items-center justify-content-between"
                >
                  <div class="d-flex flex-wrap align-items-center">
                    <div
                      class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1"
                    >
                      <img
                        src="../../assets/images/avatars/01.png"
                        alt="User-Profile"
                        class="theme-color-default-img img-fluid rounded-pill avatar-100"
                      />
                      <img
                        src="../../assets/images/avatars/avtar_1.png"
                        alt="User-Profile"
                        class="theme-color-purple-img img-fluid rounded-pill avatar-100"
                      />
                      <img
                        src="../../assets/images/avatars/avtar_2.png"
                        alt="User-Profile"
                        class="theme-color-blue-img img-fluid rounded-pill avatar-100"
                      />
                      <img
                        src="../../assets/images/avatars/avtar_4.png"
                        alt="User-Profile"
                        class="theme-color-green-img img-fluid rounded-pill avatar-100"
                      />
                      <img
                        src="../../assets/images/avatars/avtar_5.png"
                        alt="User-Profile"
                        class="theme-color-yellow-img img-fluid rounded-pill avatar-100"
                      />
                      <img
                        src="../../assets/images/avatars/avtar_3.png"
                        alt="User-Profile"
                        class="theme-color-pink-img img-fluid rounded-pill avatar-100"
                      />
                    </div>
                    <div
                      class="d-flex flex-wrap align-items-center mb-3 mb-sm-0"
                    >
                      <h4 class="me-2 h4"><%= singleOem.oemName %></h4>
                    </div>
                  </div>
                  <ul
                    class="d-flex nav nav-pills mb-0 text-center profile-tab"
                    data-toggle="slider-tab"
                    id="profile-pills-tab"
                    role="tablist"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link active show"
                        data-bs-toggle="tab"
                        href="#profile-feed"
                        role="tab"
                        aria-selected="false"
                        >Feed</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-bs-toggle="tab"
                        href="#profile-activity"
                        role="tab"
                        aria-selected="false"
                        >Activity</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-bs-toggle="tab"
                        href="#profile-friends"
                        role="tab"
                        aria-selected="false"
                        >Friends</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-bs-toggle="tab"
                        href="#profile-profile"
                        role="tab"
                        aria-selected="false"
                        >Profile</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="profile-content tab-content">
              <div id="profile-feed" class="tab-pane fade active show">
                <div class="card">
                  <div>
                    <form id="formEditOem">
                      <div class="row">
                        <div class="col-xl-3 col-lg-4">
                          <div class="card">
                            <div
                              class="card-header d-flex justify-content-between"
                            >
                              <div class="header-title">
                                <h4 class="card-title">Edit Oem</h4>
                              </div>
                            </div>

                            <div
                              class="bd-example"
                              style="display: none"
                              id="success-notification"
                            >
                              <div
                                class="alert alert-left alert-success alert-dismissible fade show mb-3"
                                role="alert"
                              >
                                <span>
                                  This is a success alert—check it out!
                                </span>
                                <button
                                  type="button"
                                  class="btn-close btn-close-white"
                                  data-bs-dismiss="alert"
                                  aria-label="Close"
                                ></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-12 col-lg-12">
                          <div class="card">
                            <div
                              class="card-header d-flex justify-content-between"
                            >
                              <div class="header-title">
                                <h4 class="card-title">Edit Oem Information</h4>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="new-user-info">
                                <div class="row">
                                  <div class="form-group col-md-6">
                                    <label class="form-label" for="oname"
                                      >Oem Name:</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="oname"
                                      placeholder="Oem Name"
                                      name="oemName"
                                      value="<%= singleOem.oemName %>"
                                    />
                                    <div
                                      class="invalid-feedback"
                                      id="edit_oemName_err"
                                    ></div>
                                  </div>

                                  <div class="form-group col-md-6">
                                    <label class="form-label" for="phone"
                                      >Mobile Number:</label
                                    >
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="phone"
                                      placeholder="Mobile Number"
                                      name="phone"
                                      value="<%= singleOem.phone %>"
                                    />
                                    <div
                                      class="invalid-feedback"
                                      id="edit_phone_err"
                                    ></div>
                                  </div>

                                  <div class="form-group col-md-6">
                                    <label class="form-label" for="email"
                                      >Email:</label
                                    >
                                    <input
                                      type="email"
                                      class="form-control"
                                      id="email"
                                      placeholder="Email"
                                      name="email"
                                      value="<%= singleOem.email %>"
                                    />
                                    <div
                                      class="invalid-feedback"
                                      id="edit_email_err"
                                    ></div>
                                  </div>
                                </div>
                                <hr />
                                <div style="display: flex; align-items: center">
                                  <h5 class="mb-3">Categories</h5>
                                  <button
                                    style="margin-bottom: 1rem !important"
                                    class="btn btn-sm btn-icon text-primary flex-end"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdropLive"
                                    data-bs-original-title="Add"
                                    id="addCat"
                                    type="button"
                                  >
                                    <span class="btn-inner">
                                      <svg
                                        style="width: 50px"
                                        class="icon-32"
                                        width="32"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                      >
                                        <path
                                          opacity="0.4"
                                          d="M16.6667 2H7.33333C3.92889 2 2 3.92889 2 7.33333V16.6667C2 20.0622 3.92 22 7.33333 22H16.6667C20.0711 22 22 20.0622 22 16.6667V7.33333C22 3.92889 20.0711 2 16.6667 2Z"
                                          fill="currentColor"
                                        ></path>
                                        <path
                                          d="M15.3205 12.7083H12.7495V15.257C12.7495 15.6673 12.4139 16 12 16C11.5861 16 11.2505 15.6673 11.2505 15.257V12.7083H8.67955C8.29342 12.6687 8 12.3461 8 11.9613C8 11.5765 8.29342 11.2539 8.67955 11.2143H11.2424V8.67365C11.2824 8.29088 11.6078 8 11.996 8C12.3842 8 12.7095 8.29088 12.7495 8.67365V11.2143H15.3205C15.7066 11.2539 16 11.5765 16 11.9613C16 12.3461 15.7066 12.6687 15.3205 12.7083Z"
                                          fill="currentColor"
                                        ></path>
                                      </svg>
                                    </span>
                                  </button>
                                </div>

                                <div class="row">
                                  <div class="form-group col-md-6">
                                    <div class="card-body">
                                      <ul
                                        class="list-inline m-0 p-0"
                                        id="catList"
                                      >
                                        <%singleOem.categories.forEach((category)=>{%>
                                        <li
                                          class="d-flex mb-4 align-items-center"
                                          data-category-name="<%= category %>"
                                        >
                                          <div class="ms-3 flex-grow-1">
                                            <h6><%= category%></h6>
                                          </div>
                                          <div class="dropdown">
                                            <span
                                              class="dropdown-toggle"
                                              id="dropdownMenuButton9"
                                              data-bs-toggle="dropdown"
                                              aria-expanded="false"
                                              role="button"
                                            >
                                            </span>
                                            <div
                                              class="dropdown-menu dropdown-menu-end"
                                              aria-labelledby="dropdownMenuButton9"
                                            >
                                              <button
                                                type="button"
                                                class="dropdown-item removeButton"
                                              >
                                                Remove
                                              </button>
                                              <button
                                                type="button"
                                                class="dropdown-item editButton"
                                                data-bs-toggle="modal"
                                                data-bs-target="#staticBackdropEdit"
                                                data-bs-original-title="Edit"
                                              >
                                                Edit
                                              </button>
                                            </div>
                                          </div>
                                        </li>
                                        <%})%>
                                      </ul>
                                      <div
                                        class="invalid-feedback"
                                        id="edit_categories[]_err"
                                      ></div>
                                    </div>
                                  </div>
                                </div>
                                <hr />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          onclick="saveItem('<%= singleOem.id %>')"
                          class="btn btn-primary"
                        >
                          Update
                        </button>
                      </div>
                    </form>
                    <div
                      class="modal fade"
                      id="staticBackdropLive"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropLiveLabel"
                      aria-modal="true"
                      role="dialog"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5
                              class="modal-title"
                              id="staticBackdropLiveLabel"
                            >
                              Add Oem
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <input
                              type="text"
                              class="form-control"
                              id="categoryName"
                              aria-describedby="email"
                              placeholder="Category name"
                            />
                            <div
                              class="invalid-feedback"
                              id="categoryName_err"
                            ></div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-gray"
                              data-bs-dismiss="modal"
                              id="closeCat"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary"
                              id="addNewCat"
                            >
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="modal fade"
                      id="staticBackdropEdit"
                      data-bs-backdrop="static"
                      data-bs-keyboard="false"
                      tabindex="-1"
                      aria-labelledby="staticBackdropEdit"
                      aria-modal="true"
                      role="dialog"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropEdit">
                              Edit Category
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <input
                              type="text"
                              class="form-control"
                              id="editcategoryName"
                              aria-describedby="email"
                              placeholder="Category name"
                            />
                            <div
                              class="invalid-feedback"
                              id="editcategoryName_err"
                            ></div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-gray"
                              data-bs-dismiss="modal"
                              id="closeEditCat"
                            >
                              Close
                            </button>
                            <button
                              type="button"
                              class="btn btn-primary"
                              id="confirmEdit"
                            >
                              Edit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="profile-activity" class="tab-pane fade">
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                      <h4 class="card-title">Activity</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div
                      class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative"
                    >
                      <ul class="list-inline p-0 m-0">
                        <li>
                          <div
                            class="timeline-dots timeline-dot1 border-primary text-primary"
                          ></div>
                          <h6 class="float-left mb-1">Client Login</h6>
                          <small class="float-right mt-1"
                            >24 November 2019</small
                          >
                          <div class="d-inline-block w-100">
                            <p>
                              Bonbon macaroon jelly beans gummi bears jelly
                              lollipop apple
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="timeline-dots timeline-dot1 border-success text-success"
                          ></div>
                          <h6 class="float-left mb-1">Scheduled Maintenance</h6>
                          <small class="float-right mt-1"
                            >23 November 2019</small
                          >
                          <div class="d-inline-block w-100">
                            <p>
                              Bonbon macaroon jelly beans gummi bears jelly
                              lollipop apple
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="timeline-dots timeline-dot1 border-danger text-danger"
                          ></div>
                          <h6 class="float-left mb-1">Dev Meetup</h6>
                          <small class="float-right mt-1"
                            >20 November 2019</small
                          >
                          <div class="d-inline-block w-100">
                            <p>
                              Bonbon macaroon jelly beans
                              <a href="#">gummi bears</a>gummi bears jelly
                              lollipop apple
                            </p>
                            <div class="iq-media-group iq-media-group-1">
                              <a href="#" class="iq-media-1">
                                <div class="icon iq-icon-box-3 rounded-pill">
                                  SP
                                </div>
                              </a>
                              <a href="#" class="iq-media-1">
                                <div class="icon iq-icon-box-3 rounded-pill">
                                  PP
                                </div>
                              </a>
                              <a href="#" class="iq-media-1">
                                <div class="icon iq-icon-box-3 rounded-pill">
                                  MM
                                </div>
                              </a>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div
                            class="timeline-dots timeline-dot1 border-primary text-primary"
                          ></div>
                          <h6 class="float-left mb-1">Client Call</h6>
                          <small class="float-right mt-1"
                            >19 November 2019</small
                          >
                          <div class="d-inline-block w-100">
                            <p>
                              Bonbon macaroon jelly beans gummi bears jelly
                              lollipop apple
                            </p>
                          </div>
                        </li>
                        <li>
                          <div
                            class="timeline-dots timeline-dot1 border-warning text-warning"
                          ></div>
                          <h6 class="float-left mb-1">Mega event</h6>
                          <small class="float-right mt-1"
                            >15 November 2019</small
                          >
                          <div class="d-inline-block w-100">
                            <p>
                              Bonbon macaroon jelly beans gummi bears jelly
                              lollipop apple
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div id="profile-friends" class="tab-pane fade">
                <div class="card">
                  <div class="card-header">
                    <div class="header-title">
                      <h4 class="card-title">Friends</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/01.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Paul Molive</h6>
                          <p class="mb-0">Web Designer</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton9"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton9"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/05.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Paul Molive</h6>
                          <p class="mb-0">trainee</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton10"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton10"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/02.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Anna Mull</h6>
                          <p class="mb-0">Web Developer</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton11"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton11"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/03.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Paige Turner</h6>
                          <p class="mb-0">trainee</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton12"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton12"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/04.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Barb Ackue</h6>
                          <p class="mb-0">Web Designer</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton13"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton13"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/05.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Greta Life</h6>
                          <p class="mb-0">Tester</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton14"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton14"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/03.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Ira Membrit</h6>
                          <p class="mb-0">Android Developer</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton15"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton15"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                      <li class="d-flex mb-4 align-items-center">
                        <img
                          src="../../assets/images/avatars/02.png"
                          alt="story-img"
                          class="rounded-pill avatar-40"
                        />
                        <div class="ms-3 flex-grow-1">
                          <h6>Pete Sariya</h6>
                          <p class="mb-0">Web Designer</p>
                        </div>
                        <div class="dropdown">
                          <span
                            class="dropdown-toggle"
                            id="dropdownMenuButton16"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            role="button"
                          >
                          </span>
                          <div
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="dropdownMenuButton16"
                          >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfollow</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >Unfriend</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              >block</a
                            >
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="profile-profile" class="tab-pane fade">
                <div class="card">
                  <div class="card-header">
                    <div class="header-title">
                      <h4 class="card-title">Profile</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <div class="user-profile">
                        <img
                          src="../../assets/images/avatars/01.png"
                          alt="profile-img"
                          class="rounded-pill avatar-130 img-fluid"
                        />
                      </div>
                      <div class="mt-3">
                        <h3 class="d-inline-block">Austin Robertson</h3>
                        <p class="d-inline-block pl-3">- Web developer</p>
                        <p class="mb-0">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the
                          industry's standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="header-title">
                      <h4 class="card-title">About User</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="user-bio">
                      <p>
                        Tart I love sugar plum I love oat cake. Sweet roll
                        caramels I love jujubes. Topping cake wafer.
                      </p>
                    </div>
                    <div class="mt-2">
                      <h6 class="mb-1">Joined:</h6>
                      <p>Feb 15, 2021</p>
                    </div>
                    <div class="mt-2">
                      <h6 class="mb-1">Lives:</h6>
                      <p>United States of America</p>
                    </div>
                    <div class="mt-2">
                      <h6 class="mb-1">Email:</h6>
                      <p><a href="#" class="text-body"> austin@gmail.com</a></p>
                    </div>
                    <div class="mt-2">
                      <h6 class="mb-1">Url:</h6>
                      <p>
                        <a href="#" class="text-body" target="_blank">
                          www.bootstrap.com
                        </a>
                      </p>
                    </div>
                    <div class="mt-2">
                      <h6 class="mb-1">Contact:</h6>
                      <p>
                        <a href="#" class="text-body">(001) 4544 565 456</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="offcanvas offcanvas-bottom share-offcanvas"
          tabindex="-1"
          id="share-btn"
          aria-labelledby="shareBottomLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body small">
            <div class="d-flex flex-wrap align-items-center">
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/08.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>Facebook</h6>
              </div>
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/09.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>Twitter</h6>
              </div>
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/10.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>Instagram</h6>
              </div>
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/11.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>Google Plus</h6>
              </div>
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/13.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>In</h6>
              </div>
              <div class="text-center me-3 mb-3">
                <img
                  src="../../assets/images/brands/12.png"
                  class="img-fluid rounded mb-2"
                  alt=""
                />
                <h6>YouTube</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer Section Start -->
      <%- include('../../partials/footer') %>
      <!-- Footer Section End -->
    </main>
    <%- include('../../partials/offcanvas') %>

    <!-- Library Bundle Script -->
    <script src="../../assets/js/core/libs.min.js"></script>

    <!-- External Library Bundle Script -->
    <script src="../../assets/js/core/external.min.js"></script>

    <!-- Widgetchart Script -->
    <script src="../../assets/js/charts/widgetcharts.js"></script>

    <!-- mapchart Script -->
    <script src="../../assets/js/charts/vectore-chart.js"></script>
    <script src="../../assets/js/charts/dashboard.js"></script>

    <!-- fslightbox Script -->
    <script src="../../assets/js/plugins/fslightbox.js"></script>

    <!-- Settings Script -->
    <script src="../../assets/js/plugins/setting.js"></script>

    <!-- Slider-tab Script -->
    <script src="../../assets/js/plugins/slider-tabs.js"></script>

    <!-- Form Wizard Script -->
    <script src="../../assets/js/plugins/form-wizard.js"></script>

    <!-- AOS Animation Plugin-->
    <script>
      const form = document.getElementById(`formEditOem`);

      const addCategoryBtn = document.querySelector("#addCat");
      const addNewCategory = document.querySelector("#addNewCat");
      const value = document.querySelector("#categoryName");
      const list = document.querySelector("#catList");
      const categoryName_err = document.querySelector("#categoryName_err");
      const editInput = document.getElementById("editcategoryName");
      const successNotification = document.querySelector(
        "#success-notification"
      );
      const editcategoryName_err = document.querySelector(
        "#editcategoryName_err"
      );
      let currentlyEditingItem = null; // Variable to store the currently edited list item

      addCategoryBtn.addEventListener("click", () => {
        categoryName_err.textContent = "";
        categoryName_err.style.display = "hidden";
      });

      addNewCategory.addEventListener("click", () => {
        if (value.value != "") {
          const div = `<li class="d-flex mb-4 align-items-center" data-category-name="${value.value}">
                              <div class="ms-3 flex-grow-1">
                                <h6>${value.value}</h6>
                              </div>
                              <div class="dropdown">
                                <span
                                  class="dropdown-toggle"
                                  id="dropdownMenuButton9"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                  role="button"
                                >
                                </span>
                                <div
                                  class="dropdown-menu dropdown-menu-end"
                                  aria-labelledby="dropdownMenuButton9"
                                >
                                  <button type="button"
                                    class="dropdown-item removeButton"
                                    >Remove</button
                                  >
                                  <button
                                  type="button"
                                          class="dropdown-item editButton"
                                          data-bs-toggle="modal"
                                          data-bs-target="#staticBackdropEdit"
                                          data-bs-original-title="Edit"  
                                            >
                                              Edit
                                            </button>
                                </div>
                              </div>
                            </li>`;

          document.querySelector("#closeCat").click();
          list.insertAdjacentHTML("afterbegin", div);
          value.value = "";
        } else {
          categoryName_err.textContent = "Category name cannot be empty";
          categoryName_err.style.display = "block";
        }
      });

      document.addEventListener("click", function (event) {
        if (event.target.classList.contains("removeButton")) {
          // This code will execute when any element with the class "removeButton" is clicked.
          // You can perform actions on the clicked element here.

          // For example, you can remove the parent <li> element when the remove button is clicked:
          const listItem = event.target.closest("li");
          if (listItem) {
            listItem.remove();
          }
        }

        if (event.target.classList.contains("editButton")) {
          editcategoryName_err.textContent = "";
          editcategoryName_err.style.display = "hidden";
          const listItem = event.target.closest("li");
          currentlyEditingItem = listItem;
          // Find the <h6> element within the <li>
          const h6Element = listItem.querySelector("h6");

          // Get the current department name
          const currentCategoryName = h6Element.innerText;
          // Set the current department name in the modal input field
          editInput.value = currentCategoryName;
        }

        // Handle the "Confirm" button click
        document.getElementById("confirmEdit").addEventListener("click", () => {
          if (currentlyEditingItem) {
            const newValue = editInput.value;
            if (newValue != "") {
              console.log(newValue);
              h6Element = currentlyEditingItem.querySelector("h6");
              h6Element.innerText = newValue;
              // Save the new value (you'll need to implement this part)
              currentlyEditingItem.setAttribute("data-category-name", newValue);
              // editInput.value = "";
              document.querySelector("#closeEditCat").click();
              currentlyEditingItem = null; // Reset the currently edited item
            } else {
              editcategoryName_err.textContent =
                "Category name cannot be empty";
              editcategoryName_err.style.display = "block";
            }
          }
        });
      });

      async function saveItem(id) {
        try {
          const formData = new FormData(form);
          for (let [k, j] of formData) {
            //clear error
            const err = document.getElementById(`edit_${k}_err`);
            err.textContent = "";
            err.style.display = "none";
          }

          const ulElement = document.getElementById("catList");
          let h6Values = [];
          // Loop through each <li> element within the <ul>
          ulElement.querySelectorAll("li").forEach(function (liElement) {
            // Get the <h6> element within the <li>
            const h6Element = liElement.querySelector("h6");

            // Get the text content of the <h6> element and push it into the array
            h6Values.push(h6Element.textContent);
          });
          // Loop through the data array and append each value
          if (h6Values.length > 0) {
            for (let i = 0; i < h6Values.length; i++) {
              formData.append("categories[]", h6Values[i]);
            }
          }

          const dataFormat = new URLSearchParams(formData);
          const res = await fetch(`/oems/oem-profile/${id}`, {
            method: "PUT",
            body: dataFormat,
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
          });
          const data = await res.json();
          if (data.errors) {
            const entries = Object.entries(data.errors);
            for (let [k, v] of entries) {
              if (v != "") {
                if (
                  k === "categories.0" ||
                  k === "categories" ||
                  k === "categories.$"
                ) {
                  k = "categories[]";
                }

                const err = document.getElementById(`edit_${k}_err`);
                err.textContent = v;
                err.style.display = "block";
              }
            }
          }
          if (data.client) {
            successNotification.style.display = "block";
            setTimeout(() => {
              successNotification.style.display = "none";
              location.assign(data.location);
            }, 600);
          }
        } catch (err) {
          console.log(err);
        }
      }
    </script>
    <!-- App Script -->
    <script src="../../assets/js/hope-ui.js" defer></script>
  </body>
</html>
